#about {
    background-color: $secondary-colour;
    margin: auto;
    padding: 40px 75px;
}

h2 {
    margin: 10px;
}

.info-tags {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
}