
// Text
$font: 'Inter',
sans-serif;

// Colours
$primary-colour:#33118E;
$secondary-colour: #F9EEEE;
$text-colour: #4B5D68;
$contrast-colour: white;
$hover-colour: #7B4592;

// Images
$background-image: url('../images/bg-desktop.svg');
