#recognition {
    margin: auto;
    padding: 40px 75px;
}


h2 {
    margin: 10px;
}

.recognition-imgs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 10px;
}

.recognition-img {
    padding: 20px;
}